# macOS
.DS_Store
*.swp
*.swo

# C build outputs
*.o
*.out
*.dSYM/

# Local compiled binaries
/main
/mat
/mnist
/arena
/exercise/arena
/exercise/autograd
/exercise/mat

#  MNIST data files
/*.mat
# Extra Docs
/crl-improvement-plan.md
